target/
node_modules/
.git/
.venv/
.cargo/
.debug/
.gemini/
.gemini-battler-debug/
.battler-debug-test-runs/
dist/
bindings/
js-clients/
battler-bug-reporter/
wamp-integration-tests/
fxlang-ext/
battler-ai-gemini-py/build/
battler-ai-gemini-py/.venv/
battler-ai-gemini-py/.debug/
battler-ai-gemini-py/.env

