Cargo.lock

target/
dist/
/.ignore
/dev

/*.txt
/battler-wamp/*.txt

/.venv
/.cargo

.env
.debug
.gemini-battler-debug

/.gemini/work

/data-filler

.npm_cache/
.npm-cache/
node_modules/
fxlang-ext/out/

.antigravity/

wamp-integration-tests/.crossbar/key.priv
wamp-integration-tests/.crossbar/key.pub

bindings/
battler-state/pkg/
