[package]
name = "battler-wamprat-schema-proc-macro"
version = "0.5.0"
edition = "2024"
description = "Procedural macro for strongly-typed WAMP peers."
authors = ["Jackson Nestelroad <jackson@nestelroad.com>"]
keywords = ["wamp", "websocket", "peer", "schema"]
license = "MIT"
repository = "https://github.com/jackson-nestelroad/battler/tree/main/battler-wamprat-schema/battler-wamprat-schema-proc-macro"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = { workspace = true }
quote ={ workspace = true }
syn = { workspace = true }

battler-wamp-uri = { workspace = true }

[dev-dependencies]
anyhow = { workspace = true }
assert_matches = { workspace = true }
pretty_assertions = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }

battler-wamp = { workspace = true }
battler-wamp-values = { workspace = true }
battler-wamprat = { workspace = true }
battler-wamprat-message = { workspace = true }
battler-wamprat-error = { workspace = true }
battler-wamprat-uri = { workspace = true }

battler-wamprat-schema = { path = ".." }
test-utils = { path = "../../battler-wamp/test-utils" }
