name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always
  DATA_DIR: ${{ github.workspace }}/battle-data/data
  CRATE_ROOT: ${{ github.workspace }}
  GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}

jobs:
  build-no-std:
    name: Build battler no_std
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: ./.github/actions/rust
      - name: Add target
        run: rustup target add thumbv7em-none-eabihf
      - name: Run build
        run: cargo build -p battler --no-default-features --target thumbv7em-none-eabihf -Z build-std=core,alloc,compiler_builtins

  test-battler:
    name: Run battler tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: ./.github/actions/rust
      - name: Run battler tests
        run: cargo test -p battler

  test-battler-no-std:
    name: Run battler no_std tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: ./.github/actions/rust
      - name: Run battler tests
        run: cargo test -p battler --no-default-features

  test-battler-modules:
    name: Run battler module tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: ./.github/actions/rust
      - name: Run battler module tests
        run: cargo test -p battler-choice -p battler-data -p battler-prng

  test-battler-service:
    name: Run battler-service tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: ./.github/actions/rust
      - name: Run battler-service tests
        run: cargo test -p "battler-service*"

  test-battler-client:
    name: Run battler-client tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: ./.github/actions/rust
      - name: Run battler-client tests
        run: cargo test -p "battler-client*"

  test-battler-calc:
    name: Run battler-calc tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: ./.github/actions/rust
      - name: Run battler-calc tests
        run: cargo test -p "battler-calc*"

  test-battler-multiplayer-service:
    name: Run battler-multiplayer-service tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      GEMINI_PYTHON_VENV: ${{ github.workspace }}/.venv
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: ./.github/actions/battler-ai-gemini-py
      - name: Set up Rust
        uses: ./.github/actions/rust
      - name: Run battler-multiplayer-service tests
        run: cargo test -p "battler-multiplayer-service*"

  test-battler-ai:
    name: Run battler-ai tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      GEMINI_PYTHON_VENV: ${{ github.workspace }}/.venv
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: ./.github/actions/battler-ai-gemini-py
      - name: Set up Rust
        uses: ./.github/actions/rust
      - name: Run battler-ai tests
        run: cargo test -p "battler-ai*"

  test-battler-wamp:
    name: Run battler-wamp tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: ./.github/actions/rust
      - name: Run battler-wamp tests
        run: cargo test -p "battler-wamp*" -p "serde*"

  formatting:
    name: Check formatting
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: ./.github/actions/rust
      - name: Check formatting
        uses: actions-rust-lang/rustfmt@v1
