name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always
  DATA_DIR: ${{ github.workspace }}/battle-data/data
  CRATE_ROOT: ${{ github.workspace }}
  GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}

jobs:
  setup-python-venv:
    name: Setup Python virtual environment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"
          cache-dependency-path: ${{ github.workspace }}/battler-ai-gemini-py/requirements.txt
      - name: Create virtual environment
        run: |
          python -m venv .venv
          ./.venv/bin/pip install -r battler-ai-gemini-py/requirements.txt
      - name: Upload virtual environment
        uses: actions/upload-artifact@v4
        with:
          name: venv-artifact
          path: .venv

  test-battler:
    name: Run battler tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install latest nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
      - name: Run battler tests
        run: cargo test -p battler -p battler-data -p battler-prng

  test-battler-service:
    name: Run battler-service tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install latest nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
      - name: Run battler-service tests
        run: cargo test -p "battler-service*"

  test-battler-client:
    name: Run battler-client tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install latest nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
      - name: Run battler-client tests
        run: cargo test -p "battler-client*"

  test-battler-calc:
    name: Run battler-calc tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install latest nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
      - name: Run battler-calc tests
        run: cargo test -p "battler-calc*"

  test-battler-ai:
    name: Run battler-ai tests
    runs-on: ubuntu-latest
    needs: setup-python-venv
    env:
      GEMINI_PYTHON_VENV: ${{ github.workspace }}/.venv
    steps:
      - uses: actions/checkout@v4
      - name: Download Python virtual environment
        uses: actions/download-artifact@v4
        with:
          name: venv-artifact
          path: .venv
      - name: Install latest nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
      - name: Run battler-ai tests
        run: cargo test -p "battler-ai*"

  test-battler-wamp:
    name: Run battler-wamp tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install latest nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
      - name: Run battler-wamp tests
        run: cargo test -p "battler-wamp*" -p "serde*" -- --test-threads=1

  formatting:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install latest nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
          components: rustfmt
      - name: Check formatting
        uses: actions-rust-lang/rustfmt@v1
