.teamSelectContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  width: 100%;
}

.previewContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  padding-left: var(--spacing-xxs);
}
